<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <remove value="Default.htm" />
                <add value="fee.html" />
                <add value="yundan1.html" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <system.web>
        <identity impersonate="true" />
    </system.web>
</configuration>
